[submodule "model/det/face/yolov5"]
	path = model/det/face/yolov5
	url = https://github.com/jinhasong/yolov5-face
[submodule "model/det/face/yolov8"]
	path = model/det/face/yolov8
	url = https://github.com/jinhasong/yolov8-face
[submodule "model/det/face/yolov7"]
	path = model/det/face/yolov7
	url = https://github.com/jinhasong/yolov7-face
[submodule "model/deepfake/simswap"]
	path = model/deepfake/simswap
	url = https://github.com/JinhaSong/SimSwap
[submodule "model/icd/sscd"]
	path = model/icd/sscd
	url = https://github.com/jinhasong/sscd-copy-detection
[submodule "model/deid/styleganex"]
	path = model/deid/styleganex
	url = https://github.com/JinhaSong/StyleGANEX
