[submodule "models/det/face/yolov5"]
	path = models/det/face/yolov5
	url = https://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@github.com/jinhasong/yolov5-face.git
[submodule "models/det/face/yolov7"]
	path = models/det/face/yolov7
	url = https://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@github.com/jinhasong/yolov7-face.git
[submodule "models/det/face/yolov8"]
	path = models/det/face/yolov8
	url = https://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@github.com/jinhasong/yolov8-face.git
